<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting to PayHere</title>
</head>
<body onload="document.forms['checkout'].submit()">
<h1>Redirecting to PayHere...</h1>
<form name="checkout" method="post" action="https://sandbox.payhere.lk/pay/checkout">
    <input type="hidden" name="merchant_id" th:value="${merchant_id}">
    <input type="hidden" name="return_url" th:value="${return_url}">
    <input type="hidden" name="cancel_url" th:value="${cancel_url}">
    <input type="hidden" name="notify_url" th:value="${notify_url}">
    <input type="hidden" name="order_id" th:value="${order_id}">
    <input type="hidden" name="items" th:value="${items}">
    <input type="hidden" name="currency" th:value="${currency}">
    <input type="hidden" name="amount" th:value="${amount}">
    <input type="hidden" name="first_name" th:value="${first_name}">
    <input type="hidden" name="last_name" th:value="${last_name}">
    <input type="hidden" name="email" th:value="${email}">
    <input type="hidden" name="phone" th:value="${phone}">
    <input type="hidden" name="address" th:value="${address}">
    <input type="hidden" name="city" th:value="${city}">
    <input type="hidden" name="country" th:value="${country}">
    <input type="hidden" name="hash" th:value="${hash}">
</form>
</body>
</html>
